body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/images/todobg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixes the background image */
    height: 100%; /* Ensures the background covers the entire page */
    font-family: Arial, sans-serif; /* Optional: Ensures consistent font styling */
}